<div class="webcam">
    <div class="main" id="main">
        <div class="main_title">
            <h1>Snap</h1>
        </div>

        <div id="montage">
            <video autoplay="true" class="video" id="video"></video>
            <canvas class="canvas" id="image"></canvas>
        </div>

        <div id="buttons"></div>

        <div id="icons">
            <img src="/miniature/big-brain.png" class="icon" onclick="add_icon(this)">
            <img src="/miniature/dinosaur.png" class="icon" onclick="add_icon(this)">
            <img src="/miniature/dog.png" class="icon" onclick="add_icon(this)">
            <img src="/miniature/laughing-meme.png" class="icon" onclick="add_icon(this)">
            <img src="/miniature/thug-life.png" class="icon" onclick="add_icon(this)">
            <img src="/miniature/salt.png" class="icon" onclick="add_icon(this)">
        </div>

    </div>

    <div class="aside" id="aside"></div>
    <div hidden id="hidden"></div>
</div>